PORT=3000
HOST=127.0.0.1
NODE_ENV=development
SWAGGER_LOCAL_SERVER_URL=http://localhost:3000
SWAGGER_PRODUCTION_SERVER_URL=https://your-render-service.onrender.com
DATABASE_URL=
DB_SSL=false
DB_SSL_REJECT_UNAUTHORIZED=false
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=ebeno
DB_NAME=aka_care_quiz
DB_SYNC=true
DB_LOGGING=false
JWT_SECRET=akacare-super-secret-change-me
JWT_EXPIRES_IN=24h
WHO_ICD_CLIENT_ID=
WHO_ICD_CLIENT_SECRET=
WHO_ICD_TOKEN_URL=https://icdaccessmanagement.who.int/connect/token
WHO_ICD_BASE_URL=https://id.who.int/icd/release/11/2025-01/mms
FHIR_SERVER_BASE_URL=http://hapi.fhir.org/baseR4
FHIR_SERVER_AUTH_TOKEN=
